<!DOCTYPE html>

<div class="accout">My account</div>

<div class="profile_container">
<div id="resume_container">

<div class="item_header">
<h1>Student Profile</h1>
</div>

<div class="item_header">
<h2> College Name </h2>
<a href="#">edit</a>
</div>

<div class="item_header">
<h2> High School Name </h2>
<a href="#">edit</a>
</div>

<div class="item_header">
<h2> Job History </h2>
<a href="#">edit</a>
</div>

<div class="item_header">
<h2> Major </h2>
<a href="#">edit</a>
</div>

<div class"item_header">
<h3> Minor </h3>
<a href="#">edit</a>
</div>

<div class="item_header">
<h2> About Me </h2>
<a href="#">edit</a>
</div>

<div class="item_header">
<h2> Skills </h2>
<a href="#">edit</a>
</div>

<div class="item_header">
<h2> Interests </h2>
<a href="#">edit</a>
</div>

</div>
</div> 

</html>