<p>
	We received a request to reset your Jobzzie credentials. To do so,
	please follow the link below.
</p>
<p>
	<a href="http://localhost:3000/reset/<%= @user.code %>">http://localhost:3000/reset/<%= @user.code %></a>
</p>
<p>
	This link will expired at <%= @user.expires_at %>. If you received
	this email in error, simply do nothing.
</p>
<p>
	Thanks!
</p>
<p>
	The Jobzzie Team
</p>